* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
.product-card {
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 12px;
    background-color: #fff;
    transition: transform 0.2s;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
}

